body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/112/508/original/1216321.png?1706411528");
  background-size: cover;
  font-family: "Cute Font", sans-serif;
}
.myApp {
  background-color: #508ba4;
  border-radius: 50px;
  max-width: 600px;
  padding: 30px;
  margin: 200px auto;
  box-shadow: 0 30px 50px rgb(215, 215, 215);
}
.search-form {
  background-color: #d7d7d7;
  border: none;
  border-radius: 20px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}
.submit-form {
  background-color: #19536c;
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  color: #d7d7d7;
  margin-left: 5px;
  font-size: 16px;
}
main {
  padding: 30px 0;
}
.app-weather {
  display: flex;
  justify-content: space-between;
}
.degree {
  display: flex;
  margin: 50px 30px;
  font-size: 50px;
  color: #d7d7d7;
  font-weight: 900;
  font-family: "Lobster", sans-serif;
}

h1 {
  margin: 0;
  font-size: 80px;
  color: #d7d7d7;
  line-height: 48px;
}
p {
  color: #d7d7d7;
  font-size: 25px;
}
a {
  color: #19536c;
}
footer {
  border-top: 1px solid #578ea6;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 18px;
  color: #d7d7d7;
}

.forcastDay {
  margin-bottom: 10px;
  text-align: center;
  font-size: 23px;
  color: #d7d7d7;
  font-family: "Lobster", sans-serif;
}
.forcastIcon {
  width: 74px;
  display: block;
}
.forcastDegree {
  text-align: center;
  color: #d5dddd;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: "Lobster", sans-serif;
}
.forcastMin {
  opacity: 0.6;
  padding: 0 10px;
}
.forcastMax {
  padding: 0 10px;
}
.weather-forcast {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
